.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text1 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  color: #0052f0;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 8px;
  border-color: #0052f0;
  border-width: 2px;
  padding-left: 13px;
  border-radius: 100px;
  padding-right: 13px;
  padding-bottom: 8px;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card1-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-color: #0052F0;
  border-width: 2px;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-image {
  width: auto;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 60px;
}
.testimonial-card1-text {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card1-button {
  color: #0052F0;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #0052f0;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  margin-bottom: 35px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.testimonial-card1-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}



@media(max-width: 767px) {
  .testimonial-card1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.car-park-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #EEF7FD;
}
.car-park-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #1B1B1B;
}
.car-park-image {
  width: auto;
  height: auto;
}
.car-park-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.car-park-burger-menu {
  display: none;
}
.car-park-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.car-park-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.car-park-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.car-park-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.car-park-image01 {
  height: 2rem;
}
.car-park-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-park-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.car-park-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.car-park-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.car-park-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.car-park-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.car-park-text {
  font-size: 48px;
  text-align: center;
  font-family: Roboto;
}
.car-park-text01 {
  font-size: 24px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.car-park-image02 {
  width: 100%;
  object-fit: cover;
}
.car-park-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #1B1B1B;
}
.car-park-container02 {
  display: flex;
  max-width: 1520;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.car-park-container03 {
  width: 581px;
  display: flex;
  margin-left: 54px;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.car-park-text06 {
  color: #0052f0;
  width: 532px;
  font-size: 32px;
  max-width: 450px;
  font-family: Raleway;
  padding-bottom: 134px;
}
.car-park-btn-group {
  width: 544px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.car-park-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  margin-right: 39px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(27, 27, 27);
}
.car-park-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.car-park-button1 {
  font-size: 24px;
  font-style: normal;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.car-park-button1:hover {
  border-color: var(--dl-color-gray-black);
}
.car-park-image03 {
  width: 400px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.car-park-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.car-park-text07 {
  color: #4d5072;
  font-size: 30px;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.car-park-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.car-park-image04 {
  width: 78px;
  height: 42px;
  object-fit: cover;
  margin-bottom: 8px;
}
.car-park-image05 {
  width: 102px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 8px;
}
.car-park-image06 {
  width: 150px;
  height: 27px;
  object-fit: cover;
  margin-bottom: 15px;
}
.car-park-image07 {
  width: 109px;
  height: 31px;
  object-fit: cover;
  margin-bottom: 15px;
}
.car-park-image08 {
  width: 150px;
  height: 29px;
  object-fit: cover;
}
.car-park-txt {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.car-park-text08 {
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
}
.car-park-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
}
.car-park-container05 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.car-park-container06 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.car-park-p1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.car-park-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.car-park-text12 {
  color: #0052F0;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.car-park-text13 {
  margin-right: var(--dl-space-space-threeunits);
}
.car-park-text14 {
  font-size: 20px;
  font-family: Raleway;
}
.car-park-image09 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.car-park-p2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.car-park-image10 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.car-park-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 85px;
  flex-direction: column;
  justify-content: space-between;
}
.car-park-text17 {
  color: rgb(0, 82, 240);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.car-park-text18 {
  font-size: 20px;
  font-family: Raleway;
  margin-right: var(--dl-space-space-threeunits);
}
.car-park-p3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.car-park-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.car-park-text23 {
  color: rgb(0, 82, 240);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.car-park-text24 {
  font-size: 20px;
  font-family: Raleway;
  margin-right: var(--dl-space-space-threeunits);
}
.car-park-image11 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.car-park-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #1B1B1B;
}
.car-park-container10 {
  width: 100%;
  display: flex;
  max-width: 1520px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.car-park-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.car-park-image12 {
  width: 95px;
  height: 98px;
  align-self: center;
}
.car-park-text29 {
  color: #ffffff;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.car-park-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.car-park-container11 {
  width: 579px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.car-park-contact {
  width: 437px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.car-park-text30 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.car-park-image13 {
  width: 276px;
  height: auto;
  object-fit: cover;
}
.car-park-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.car-park-text31 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.car-park-image14 {
  width: auto;
  height: 16px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .car-park-text01 {
    max-width: 100%;
  }
  .car-park-hero {
    flex-direction: column;
  }
  .car-park-container02 {
    flex-direction: column;
  }
  .car-park-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .car-park-text06 {
    text-align: center;
  }
  .car-park-text07 {
    text-align: center;
  }
  .car-park-container06 {
    grid-template-columns: 1fr;
  }
  .car-park-p1 {
    flex-direction: column;
  }
  .car-park-container07 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .car-park-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .car-park-image09 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .car-park-p2 {
    flex-direction: column;
  }
  .car-park-image10 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .car-park-container08 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .car-park-text18 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .car-park-p3 {
    flex-direction: column;
  }
  .car-park-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .car-park-text24 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .car-park-image11 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .car-park-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .car-park-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-nav {
    display: none;
  }
  .car-park-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .car-park-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .car-park-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-container02 {
    flex-direction: column;
  }
  .car-park-image03 {
    width: 80%;
  }
  .car-park-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-image04 {
    width: 55px;
    height: 29px;
  }
  .car-park-image05 {
    width: 83px;
    height: 24px;
  }
  .car-park-image06 {
    width: 117px;
    height: 21px;
  }
  .car-park-image07 {
    width: 76px;
    height: 21px;
  }
  .car-park-image08 {
    width: 115px;
    height: 22px;
  }
  .car-park-txt {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-container05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-p1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-text13 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .car-park-p2 {
    width: 100%;
    margin-right: 58px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-text18 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .car-park-p3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-text24 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .car-park-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .car-park-logo {
    align-items: center;
  }
  .car-park-image12 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .car-park-text29 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .car-park-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .car-park-header {
    padding: var(--dl-space-space-unit);
  }
  .car-park-mobile-menu {
    padding: 16px;
  }
  .car-park-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-container02 {
    flex-direction: column;
  }
  .car-park-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .car-park-text06 {
    padding-right: var(--dl-space-space-twounits);
  }
  .car-park-btn-group {
    flex-direction: column;
  }
  .car-park-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .car-park-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-container04 {
    align-items: center;
    flex-direction: column;
  }
  .car-park-txt {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-p1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-image09 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .car-park-p2 {
    padding-top: var(--dl-space-space-twounits);
    margin-right: 45px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-image10 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .car-park-p3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .car-park-image11 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .car-park-footer {
    padding: var(--dl-space-space-unit);
  }
  .car-park-container10 {
    align-items: center;
    flex-direction: column;
  }
  .car-park-image12 {
    margin-bottom: 0px;
  }
  .car-park-text29 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .car-park-links-container {
    align-items: center;
    flex-direction: column;
  }
  .car-park-container11 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .car-park-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
